{% extends 'base.html' %}
{% block header %}
  {{title}}
{% endblock %}
{% block content %}
<h1 class="border-top text-center py-3"> {{ title }} </h1>
  <div class="container py-5">   
      <fieldset>
          {% for button in button_list %}
            <form method="POST" action="{% url 'main_tracker:trackview'%}">
              {% csrf_token %}
              <div class="d-grid gap-2">
              <input type='hidden' name='name' value={{ button.button_text }}>
              <button class="btn btn-dark" type="submit"> {{ button.button_text }} </button>
              </div>
            </form>
          {% endfor %}
      </fieldset>
    </form>
  <div class="container py-5">     
    {% for action in page_obj %}
      {% include 'includes/action_list.html' %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
  {% endblock %}
